span {
  display: inline-block; }

body{
  margin: 0;
  font-family: 'Lato', sans-serif;
  
}
.container{
  display:block;
  .header{
    text-align: center;
    color: #407FEE;
    font-size: 15px;
    margin-top: 50px;
  }
  .timer-box{
    width: 500px;
    padding: 100px 50px;
    background-color: #407FEE;
    margin: 0 auto;
    border-radius: 3px;
  
    .form{
     display: flex;
     .input{   
      height: 35px;
      width:350px;
      background-color: #ffffff;
      border: none;
      box-shadow: none;
      border-radius: 3px;
      color: #c4c4c4;
      padding: 0 20px;
     }
     .button{
       margin-left: 3px;
       background-color: #174698;
       border: none;
       padding: 0 20px;
       border-radius: 3px;
       color: #fff;
       &:hover{
         transition: 0.4s ease all;
         background-color: #64B5F6;
         
       }
     }
    }
    .timer{
      text-align: center;
      color: #fff;
      font-size: 80px;    

    }
    .buttons{
      display: flex;
      justify-content: center;
    .reset{
        background-color: #64B5F6;
        margin-right: 3px;
        border: none;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        padding: 15px; 
        transition: 0.4s ease all;
        &:hover{
          background-color: #1A237E;
          
        }

    } 
    .pause{
      background-color: #64B5F6;
        border: none;
        border-radius: 3px;
        color: #fff;
        text-align:center;
        display: inline-block;
        padding: 15px;
      
        transition: 0.4s ease all;
        &:hover{
          background-color: #1A237E;
        } 
   
      }

    

    }
  }
}